venv/
__pycache__/
*.pyc
.streamlit/secrets.toml
youtube_data.json
reddit_data.json
sentiment_results.json
.env
*.log
.DS_Store
*.session
*.session-journal
youtube_data.json
sentiment_results.json
telegram_data.json